html {
  background: url(Images/redNeon.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#game {
  display: flex;
}

h1 {
  color: red;
  text-decoration: underline;
  font-size: 50px;
}
h2 {
  color: black;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: yellow;
}

.player--1 {
  /* background-image: url(Images/cam-newton.jpeg);
  background-position: center; */
  width: 300px;
  height: 300px;
  background-color: blue;
  color: black;
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}
.player--2 {
  /* background-image: url(images/number2.jpeg);
  background-position: center; */
  width: 300px;
  height: 300px;
  background-color: purple;
  color: black;
  text-align: center;
}

.player--active {
  background-color: white;
  box-shadow: 12px 12px 2px 1px yellow;
}

.categories_column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  width: 200px;
  height: 200px;
  border: solid blue 2px;
  border-radius: 10px;
  background-color: blue;
  text-align: center;
  padding: 5px;
  font-size: 60px;
  margin: 10px;
  box-shadow: 10px 5px 5px red;
}

.correct_answer {
  background-color: green;
}

.wrong_answer {
  background-color: red;
}

.player--winner {
  background-color: gold;
}

/* //   if (cardOfButton.getAttribute("data-correct") === this.innerHTML) {
    //     score = score + parseInt(cardOfButton.getAttribute("data-value"));
    //     playerOneScore.innerHTML = score;
    //     cardOfButton.classList.add("correct_answer");
    //     setTimeout(() => {
    //       while (cardOfButton.firstChild) {
    //         cardOfButton.removeChild(cardOfButton.lastChild);
    //       }
    //       cardOfButton.innerHTML = cardOfButton.getAttribute("data-value");
    //     }, 150);
    //   } else {
    //     cardOfButton.classList.add("wrong_answer");
    //     setTimeout(() => {
    //       while (cardOfButton.firstChild) {
    //         cardOfButton.removeChild(cardOfButton.lastChild);
    //       }
    //       cardOfButton.innerHTML = 0;
    //     }, 150);
    //   }
    //   cardOfButton.removeEventListener("click", showCard) */
